#logout1{
    font-family: roboto;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 2rem;
}
#logout2{
    background-color: #5AA644;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 0.5rem;
   font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
#logout3{
    background-color: #FF0000;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;  
}
#logout4{
    padding-top: 2rem;
    padding-bottom: 2rem;
}