#wel1 {
    display: flex;
    justify-content: center;
}
#wel2 {
    text-align: center;
    margin-top: 6rem;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 2rem;
    background-color: #058359;
}
#wel3{
    width: 15%;
    height: 15%;
}
#wel4{
    /* color: white; */
    font-family: exo;
    font-weight: 900;
    font-size: 4rem;
    margin-top: 2rem;
    color: white;
}
#wel5{
   border: 1px solid white;
   background-color: transparent;
   
}
#wel5::placeholder{
    color: white;
}
#wel6{
    width: 100%;
    margin-bottom: 2rem;  
}
#wel7{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#wel8{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
}
