#totalrevenue1{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    padding: 2rem 1rem 2rem 1rem;
    margin-top: 2rem;
    background-color: #fff;
}
#totalrevenue2{
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.95rem;
}
#totalrevenue3{
    text-align: center;
    color: #5AA644;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.3rem;
}
#totalrevenue4{
   
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}