#recentbookingcard1{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
#recentbookingcard2{
    color: #5AA644;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
}
#recentbookingcard3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
}
#recentbookingcard4{
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
}