#addcategory1{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 1rem;
    padding: 1.4rem;
    border-radius: 0.6rem;
    background-color: #fff;
}
#addcategory2{
    background-color: #5AA644;
    border: 0px;
    width: 70%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
}

