#helloAdminTxt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2rem;
    letter-spacing: 0.016em;
    color: #00261C;
}

#timeDateTxt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.8rem;
    letter-spacing: -0.02em;
    color: #219653;
    margin-top: 0.5rem;
}

#notificationIcon {
    width: 2.5rem;
    height: 2.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 153, 112, 0.08);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#sagarikaTxt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 0.8rem;
    letter-spacing: 0.016em;
    color: #00261C;
    display: flex;
    align-items: center;
    flex-direction: row;
}