
#forgot1 {
    text-align: center;
    margin-top: 8rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 2rem;
    background-color: #058359;
}
#forgot2{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;

}
 #forgot2::placeholder{
     color: white;
     font-weight: 600;
 }
 #forgot3{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;

 }
 #forgot3::placeholder{
    color: #9CC1B5;
    font-weight: 600;
 }
 #forgot4{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 #forgot5{
    display: flex;
    justify-content: flex-start;
    margin-left: 0.9rem;
    color: #9CC1B5;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

 }
 #forgot6{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
 }
 #forgot7{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9CC1B5;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;


 }
 #forgot9{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    text-align: center;
 }
 